[package]
name = "rene"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ash = "0.33.3"
png = "0.17.2"
bytemuck = "1.7.2"
rand = "0.8.4"
glam = "0.19.0"
rene-shader = { path = "../rene-shader" }
pbrt-parser = { path = "../pbrt-parser" }

[build-dependencies]
spirv-builder = { git = "https://github.com/EmbarkStudios/rust-gpu" }
