[package]
name = "rene"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ash = "0.35.0"
png = "0.17.2"
bytemuck = "1.7.2"
rand = "0.8.4"
glam = "0.20"
rene-shader = { path = "../rene-shader" }
pbrt-parser = { path = "../pbrt-parser" }
structopt = "0.3.25"
thiserror = "1.0.30"
nom = "7.1.0"

[build-dependencies]
spirv-builder = { git = "https://github.com/EmbarkStudios/rust-gpu" }
